NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDG0QXHhEtwsjJNkiAmeXpwTAuSyZExXA
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=cavo-4c0e6.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=cavo-4c0e6
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=cavo-4c0e6.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=380167775107
NEXT_PUBLIC_FIREBASE_APP_ID=1:380167775107:web:24777f1a13cfbc5e4accb6
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-7DP81CN2QS
NEXT_PUBLIC_IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/luivuvevia
NEXT_PUBLIC_IMAGEKIT_PUBLIC_KEY=public_VbQJU9JfWSLZ0KamcQyAWZUx9k4=
# add privately in .env.local or GitHub Secrets later
IMAGEKIT_PRIVATE_KEY=
